* {
  margin: 0;
  padding: 0;
  font-family: "Popins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #c7fe00;
}

.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  color: #fff;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  padding: 10px;
  background: #f4f9ff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.search input[type="text"] {
  border: none;
  outline: none;
  background: transparent;
  color: #333;
  padding: 14px;
  height: 45px;
  border-radius: 8px;
  flex: 1;
  font-size: 16px;
}
.search input[type="text"]::placeholder {
  color: #888;
}

.search button {
  border: none;
  outline: none;
  background: #00c896;
  border-radius: 10px;
  width: 50px;
  height: 45px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.search button:hover {
  background: #00a87a;
}


.search button img {
  width: 18px;
  height: 18px;
  filter: invert(1);
}

.weather-icon {
  width: 170px;
  margin-top: 30px;
}

.weather h1 {
  font-size: 80px;
  font-weight: 500;
}

.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  margin-top: 50px;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.col img {
  width: 40px;
  margin-right: 10px;
}

.humidity,
.wind {
  font-size: 20px;
  margin-top: -6px;
}

.weather {
  display: none;
}

.error {
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
  margin-top: 10px;
  display: none;
  color: red;
}
